*{
    font-family: sans-serif;;
}
header {
    display: flex;
    font-family: Arial, sans-serif;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(1, 6, 73);
    padding: 10px 30px;
    height: 120px;
  }
.logo img{
    height: 120px;
}
.navbar ul,li,a{
    display: flex;
    gap: 25px;
    list-style: none;
    text-decoration: none;
    color:white;
    font-weight:normal;
}
.navbar li a:hover{
    color:orange;
}
body{
    margin:auto;
    font-family: Arial, sans-serif;
    background-color:white;

}
.home{
    background-image: 
    linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.4)),
    url('img/Airplane_bg.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
    display: flex;
    height: 80vh;
    background-color: rgba(255, 255, 255, 0.4);
    color: white;
    justify-content: center;
    align-items: center;
    text-align:center ;
}
.home h1{
 
    font-size:280px;
}
