
header {
    display: flex;
    font-family: Arial, sans-serif;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(1, 6, 73);
    padding: 10px 30px;
  }
.logo img{
    height: 120px;
}
.navbar ul,li,a{
    display: flex;
    gap: 25px;
    list-style: none;
    text-decoration: none;
    color:white;
    font-weight:normal;
}
.navbar li a:hover{
    color:orange;
}
body{
    margin:auto;
    font-family: Arial, sans-serif;
    background-color:white;
}